img{
    border-radius: 50%;
    width: 50%;
    height: 50%;

}
li{
<<<<<<< HEAD
    font-family:'Lucida Sans Unicode'
}
body{
    background-color: cornflowerblue;
}
=======
    font-family:'Lucida Sans Unicode';
    text-align: center;
}
body{
    background-color: blueviolet;
   text-align: center;
}
>>>>>>> CarlosMoraJavaScript
